@media (max-width: 375px){
	.container{
		width: 100%;
	}
	.container-mobile{
		width: 84.26%;
		margin: 0 auto;
	}
	.text{
		font-size: 4.80vw;
        line-height: 5.87vw;
        list-style: medium;
	}
    header.main-header{
    	display: none;
    }
    .me{
    	display: flex;
    	flex-direction: column;
    	align-items: flex-start;
    	padding: 0;
    }
    .me__name{
    	font-size: 12.53vw;
        line-height: 15.47vw;
        width: 33.07vw;
        margin: 0 0 30vw 0;
    }
    .me__proffession{
    	width: 41.60vw;
    	margin: 0 0 9.87vw 0;
    }
    .me__language{
    	display: none;
    }
    .image-first{
    	display: none;
    }
    .image-second{
    	width: 84.27vw;
    }
    
    /*SECOND SECTION*/
    .aboutme{
    	margin: 22.13vw 0 0 0;
    	width: 100%;
    }
    h2{
	list-style: bold;
	font-size: 9.07vw;
    line-height: 11.20vw;
    }
    .notmobile-text{
    	display: none;
    }
    .mobile__aboutme__text{
    	width: 84.27vw;
    	margin: 8vw auto 0 auto;
    }
    .mobile__aboutme__text-one{
    	width: 60vw;
    	margin: 0 auto 8vw auto;
    }
    .mobile__aboutme__text-two{
    	width: 80vw;
    	margin: 0 auto 8vw auto;
    }
    .mobile__aboutme__text-three{
    	width: 70vw;
    	margin: 0 auto 8vw auto;
    }
    /*third section*/
    .skills{
		margin: 22.13vw 0 0 0;
    }
	.skills__head{
		margin: 0 0 13.33vw 0;
	}
	.skills__text{
		margin: 0 0 18.67vw 0;
	}
	.skills__items{
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
	}
	.skills__item{
		width: 44.27vw;
		margin: 0 0 21.87vw 0;
	}
	.skill-img{
		display: block;
	    margin: 0 auto 6.13vw auto;
	    width: 23.73vw;
	}
	.figma{
		margin: 0 auto 6.13vw auto;
		height: 23.73vw;
		width: 15.47vw;
	}
	.skill-text{
	    width: 18.67vw;
	    text-align: center;
	    margin: 0 auto;
	}
	.skill-text-one{
		text-align: center;
	}
	.maedia__skill-text{
		margin: 0 auto 10.93vw auto;
	}
	.skill-text-two{
		text-align: center;
		 margin: 0 0 15.20vw 0;
	}
	.text2{
		font-size: 3.73vw;
    	line-height: 4.53vw;
	}
	.skills__stars{
		width: 44vw;
		display: flex;
		justify-content: space-between;
		margin: 0;
		padding: 0;
	}
	.skills__star{
		width: 6.93vw;
	}

	/* third section*/
	.portfolio__head{
		text-align: center;
		margin: 21.60vw 0 17.33vw 0;
	}
	.portfolio__img{
		display: block;
		width: 84.27%;
		margin: 0 auto 9.33vw auto;
	}
	.portfolio__text{
	    text-align: center;
	    text-decoration-line: underline;
	    color: #070707;
	    margin: 0 0 21.33vw 0;
	}
	.text3{
		font-size: 4.80vw;
	    line-height: 5.87vw;
	}

	/*footer*/
	footer{
		margin: 21.87vw 0 24vw 0;
		padding: 0.1vw 0;
	}
	.footer__head{
		margin: 0 0 8vw 0;
	}
	.footer__text{
		width: 73.33vw;
		margin: 0 auto 10.67vw auto;
	}
	.text4{
		font-size: 4.80vw;
	    line-height: 5.87vw;
	    color: #828282; 
	}
	button{
		width: 84.27vw;
	    height: 11.20vw;
	    text-align: center;
	    color: #FFFFFF;
	    background: #070707;
	    border-radius: 6vw;
	    border-color: #070707;
	    margin: 0 auto 12.80vw auto;
	}
	.footer_icons{
		width: 84vw;
		display: flex;
		justify-content: space-between;
		margin: 0 auto 12.80vw auto;
	}
	.footer_icon{
		width: 10.67vw;
	}
    

    /* menu-burger*/
    section.section{
    	display: none;
    }
    section.mobile{
    	margin: 18.13vw 0 0 0;
    }
    .mobile__flex{
    	display: flex;
    	justify-content: space-between;
    }
    .header__burger{
	    display: block;
	    position: relative;
	    width: 8vw;
	    height: 5.33vw;
    }
    .header__burger span{
    	position: fixed;
    	background-color: #000;
    	position: absolute;
    	left: 0;
    	width: 100%;
    	height: 0.53vw;
    	top: 2.40vw;
    	z-index: 20;
    	transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after{
    	content: '';
    	background-color: #000;
    	position: absolute;
    	width: 100%;
    	height: 0.53vw;
    	left: 0;
    	z-index: 20;
    	transition: all 0.3s ease 0s;
    }
    .header__burger:before{
    	top: 0;
    }
    .header__burger:after{
    	bottom: 0;
    }
    .header__burger.active span{
    	transform: scale(0);
    }
     .header__burger.active:before{
     	transform: rotate(45deg);
     	top: 2.40vw;
     }
      .header__burger.active:after{
      	transform: rotate(-45deg);
      	bottom: 2.40vw;
      }
    .mobile-header__menu{
    	position: absolute;
    	overflow: auto;
    	left: -100%;
    	width: 100%;
    	height: 100%;
    	background-color: #fff;
    	padding: 0 0 0 26px;
    }
    .mobile-header__menu.active{
    	left: 0;
    	transition: all 0.3s ease 0s;
    }
    .header__list{
    	list-style: none;
    }
     .header__list li{
    	margin: 0 0 18.13vw 0;
    	font-size: 9.07vw;
    }
    .header__link{
        text-decoration: none;
        color: #828282; 
    }
    a.header__link:hover,
    a.header__link:active{
    	color: #000;
    }
    body.lock{
    	overflow: hidden;
    }

}




@media (min-width: 377px){
	.image-second{
		display: none;
	}
	.mobile-text{
		display: none;
	}
	.mobile-header{
		display: none;
	}
	section.mobile{
		display: none;
	}
}

