* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
a {
	text-decoration: none;
}

.container{
	width: 65.1vw;
	margin: 0 auto;
}

/*header*/
.header{
	list-style: none;
	display: flex;
	justify-content: space-between;
	border-bottom: 0.05vw solid #828282;
	padding: 1.67vw 0vw 1.67vw 0vw;
}
.header__menu{
	font-size: 0.94vw;
    line-height: 1.15vw;
    color: #828282;
}
.header__menu:hover,
.header__menu:active {
	color: #070707;
	transition-duration: 0.5s;
}


/*first section*/
.me{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 2.08vw 0vw 2.55vw 0vw;
} 
.me__name{
	font-size: 2.45vw;
    line-height: 3.07vw;
    width: 6.41vw;
    height: 5.63vw;
}
.me__proffession{
    width: 8.33vw;
}
.text{
	font-size: 0.94vw;
    line-height: 1.15vw;
    list-style: medium;
}
.me__language{	
	width: 5.73vw;
	text-transform: uppercase;
	list-style: medium;
	font-size: 0.83vw;
    line-height: 1.04vw;
    color: #828282;
    -webkit-transform: rotate(-90deg) translate(2.3vw, 2.55vw);
}
img{
	width: 65vw;
}

/*second section*/
.aboutme{
	margin: 7.20vw 0 0 0;
    background: #F6F6F6;
    padding: 0.1vw 0vw; 
}
.aboutme__content{
	text-align: center;
}
h2{
	list-style: bold;
	font-size: 2.35vw;
    line-height: 2.91vw;
}
.aboutme__head{
	margin-top: 8.30vw;
}
.aboutme__text{
	margin: 1.25vw 0 0 0;
}
.aboutme__text-one{
	margin: 0 0 2.08vw 0;
}
.aboutme__text-two{
	width: 20.76vw;
	text-align: center;
	margin: 0 auto 2.08vw auto;
}
.aboutme__text-three{
    width: 15.92vw;
    text-align: center;	
    margin: 0 auto 7.40vw auto;
}

/*third section*/
.skills{
	text-align: center;
	margin: 6.30vw 0 0 0;
}
.skills__head{
	margin: 0 0 4.78vw 0;
}
.skills__text{
	margin: 0 0 5.74vw 0;
}
.skills__items{
	display: flex;
	justify-content: space-between;
}
.skills__item{
	width: 11.56vw;
}
.skill-img{
	display: block;
    margin: 0 auto 1.59vw auto;
    width: 6.16vw;
}
.figma{
	margin: 0 0 1.66vw 3.88vw;
	height: 6.16vw;
	width: 4.01vw;
}
.skill-text{
    width: 3.65vw;
    text-align: center;
    margin: 0 auto;
}
.skill-text-one{
	text-align: center;
}
.skill-text-two{
	text-align: center;
	 margin: 0 0 3.2vw 0;
}
.text2{
	font-size: 0.73vw;
    line-height: 0.89vw;
    color: #828282;
}
.skills__stars{
	width: 11.56vw;
	display: flex;
	justify-content: space-between;
	padding: 0.1vw 0;
	margin: 2.14vw 0 5.73vw 0;
}
.skills__star{
	width: 1.35vw;
}

/* third section*/
.portfolio{
	background: #F6F6F6;
    padding: 0.1vw 0;
}
.portfolio__head{
	text-align: center;
	margin: 5.83vw 0 0 0;
}
.portfolio__img{
	display: block;
	width: 65.1vw;
	margin: 2.45vw auto 2.34vw auto;
}
.portfolio__text{
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    margin: 0 0 6.85vw 0;
}
.text3{
	font-size: 1.25vw;
    line-height: 1.52vw;
}
/*footer*/
footer{
	margin: 7.89vw 0 8.51vw 0;
	padding: 0.1vw 0;
	text-align: center;
}
.footer__head{
	margin: 0 0 1.38vw 0;
}
.footer__text{
	width: 19.03vw;
	margin: 0 auto 2.08vw auto;
}
button{
	width: 12.46vw;
    height: 2.91vw;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #070707;
    border-radius: 2.08vw;
    border-color: #070707;
    margin: 0 auto 6.02vw auto;
}
.footer_icons{
	width: 23.67vw;
	display: flex;
	justify-content: space-between;
	margin: 0 auto 3.18vw auto;
}
.footer_icon{
	width: 2.77vw;
}
.text4{
	color: #828282; 
	}